<nav>
    <!-- <img src="https://cdn-icons-png.flaticon.com/512/5501/5501375.png" alt=""> -->
    <a href="/">Home</a>
    <a href="/expense/create">Log expenses</a>
    <a href="/expense/show">Watch expenses</a>
    <a href="/about">About</a>
</nav>