<%- include("partials/header")%> <%- include("partials/nav")%>
<div class="flex flex-col px-10 mt-5">
  <h1 class="font-semibold text-3xl">Create expenses</h1>
  <form
    action="/expense/create"
    method="post"
    class="flex flex-col w-fit gap-4 mt-4"
  >
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="title"
      placeholder="Title"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="number"
      name="amount"
      placeholder="Amount"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="category"
      placeholder="Category"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="remark"
      placeholder="Remark"
    />
    <input
      class="bg-zinc-700 w-60 px-4 py-2 rounded-lg"
      type="text"
      name="paymentmode"
      placeholder="Payment Mode"
    />
    <button
      class="bg-[#1E90FF] hover:bg-[#1C86EE] transition-all duration-300 inline-block w-fit px-6 py-2 rounded-md font-semibold mt-2"
    >
      Log Expense
    </button>
  </form>
</div>
<%- include("partials/footer")%>
